{% extends 'tempdashboard.html' %}

{% block title %} Profile {% endblock %}
{% load crispy_forms_tags %}
{% load static %}

{% block background_image %}
<header class="masthead" style="background-image: url({% static 'dashboard/img/rules.jpg' %}")>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Профіль</h1>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block content %}

<div class="container">

<div class="col-lg-8 col-md-10 mx-auto">
  <div class="media">
      <img class="rounded-circle account-img" src="{{ user.profile.image.url }}">
      <div class="media-body">
        <h2 class="account-heading">{{ user.username }}</h2>
        <div class="text-secondary">{{ user.email }}</div>
        <div class="text-secondary">Вы - {{ rank }}, узровень - {{ level }}</div>
      </div>
  </div>
</div>
</div>
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                      <legend class="border-bottom mb-4">Звесткі аб вас</legend>
                      {{ form|crispy }}
                      {{ profile_form|crispy }}
                  </fieldset>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary">Змяніць</button>
                  </div>
                </form>
            </div>
        </div>
      </div>
    </div>

{% endblock %}
