{% extends "indextemp.html" %}

{% block content %}
{% load static %}
<header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container">
        <h1 class="masthead-heading mb-0">One Page Wonder</h1>
        <h2 class="masthead-subheading mb-0">Will Rock Your Socks Off</h2>
        <!--<a href="#" class="btn btn-primary btn-xl rounded-pill mt-5">Learn More</a>-->
      </div>
    </div>
   <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
  </header>
  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static 'index/img/01.jpg' %}" alt="">
           <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/FnKmflUtW90" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>-->
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4"> Для чаго гэта ўсё?</h2>
            <p>Сённішняе становішча дэктуе нам неабходнасць ведаць беларускую мову таму, што гэта з'яўляўляецца нацыянальным скарбам нашай краіны, якім неабходна валодаць кожнаму грамадзяніну. Гэты трэнажор менавіта для гэтага</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="{% static 'index/img/02.jpg' %}" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="display-4">Аб праэкце...</h2>
            <p>Для кожнага аспекту мовы былі вылучаны заданні, пры выкананні якіх, вы можаце палепшыць валоданне мовы. Таксама да сайта быў далучаны слоўнік, дзе вы знойдзіце тлумачэнне дзя пэўнага слова</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--<section>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/03.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6 order-lg-1">
          <div class="p-5">
            <h2 class="display-4">Let there be rock!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod aliquid, mollitia odio veniam sit iste esse assumenda amet aperiam exercitationem, ea animi blanditiis recusandae! Ratione voluptatum molestiae adipisci, beatae obcaecati.</p>
          </div>
        </div>
      </div>
    </div>
  </section>-->
{% endblock content %}