{% extends "tempdashboard.html" %}
{% block title %} моўны трэнажор {% endblock title %}
{% load static %}

{% block background_image %}
<header class="masthead" style="background-image: url({% static 'dashboard/img/rules.jpg' %}")>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Правіла</h1>
          <span class="subheading">Усё, што пратрэбна табе</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}

{% block breadcrumb %}
<div class="container">
  <ol class="breadcrumb my-4">
    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Галоўная</a></li>
    <li class="breadcrumb-item active">Правілы</li>
  </ol>
</div> 

{% endblock %}

{% block content %}
  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-5 mx-auto">
        {% for rule in rules %}
        <div class="post-preview">
          <a href="{% url 'full_rules' rule.pk %}">
            <h3 class="post-title">
              {{ rule.pk }}. {{ rule.title}} 
            </h3>
          </a>
        {% endfor %}
{% endblock content %}