{% extends 'tempdashboard.html' %}
{% load static %}

{% block background_image %}
<header class="masthead" style="background-image: url({% static 'dashboard/img/rules.jpg' %}")>
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1>Тэсты</h1>
          <span class="subheading">Сродак, каб палепшыць твой скіл</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}


{% block content %}
<div class="container my-4">
    <div class="row justify-content-center">
      <div class="col-md-10 col-sm-12">

<div class="card mb-3">
    <div class="card-body">
      {% include '_header.html' with active='new' %}


  <div class="card">
    <table class="table mb-0">
      <thead>
        <tr>
          <th>Тэст</th>
          <th>Колькасць пытанняў</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for quiz in quizzes %}
          <tr>
            <td class="align-middle">{{ quiz.name }}</td>
            <td class="align-middle text-center">{{ quiz.questions_count }} </td>
            <td class="text-right">
              <a href="{% url 'take_quiz' quiz.pk %}" class="btn btn-primary">Пачаць</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td class="bg-light text-center font-italic" colspan="4">Няма на сённяшні дзень тэстаў</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
    </div>
</div>
      </div>
    </div>
</div>
{% endblock %}